kind: Deployment
apiVersion: apps/v1
metadata:
  name: backend-deployment
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: rupesh1997/devops-day-05:1.0.0
        ports:
          - containerPort: 8181
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"

---
kind: Service
apiVersion: v1
metadata:
  namespace: devops
  name: backend-svc
spec:
  ports:
    - port: 8181
      targetPort: 8181
      protocol: TCP
  selector:
    app: backend
  type: LoadBalancer