spring:
  datasource:
    url: jdbc:mysql://localhost:3306/devops
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  config:
    activate:
      on-profile: "docker"
  application:
    name: devops-day-05
  thymeleaf:
    cache: false
server:
  port: 8181

application:
  cors:
    allowed-origins: http://localhost:4200
