spring:

  datasource:
    url: jdbc:h2:mem:devops
    driverClassName: org.h2.Driver
    username: sh
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

  config:
    activate:
      on-profile: "default"
    import:
      - "optional:application-docker.yaml"
      - "optional:application-production.yaml"

  profiles:
    active: default

server:
  port: 8181
